<html>
  <head>
    <title>My first Sinatra App</title>
  </head>
  <body>
    <nav>
      <b>My first Sinatra App</b>
      <a href="/">Home</a>
    <nav>
    <hr>

    <%= yield %>

    <hr>
    <footer>
     &copy; 2016
    </footer>
  </body>
</html>
